/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body
{
  font-size:14px;
  font-family:futura;
}


iframe {
    width: 100%;
    height: 100%;
    padding: 0em;
    margin: 0em;
    border: 0em;
}

#header {
    background-color: rgba(16, 30, 74, 0.8);
    color: #fff;
    font-family: arial,FreeSans,verdana,sans-serif;
    text-align: center;
    font-size: 1.1em;
    line-height: 3em;
    font-family: bold;
}

input[type="submit"], button {
  border: thin solid #dedede;
  border-radius: 7px;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

input[type="submit"]:hover, button:hover {
  background-color: #ddd;
}

form {
  display: inline-block;
}




