<div id="header">
 Lta êtes vous satisfait de cette réponse ? <button>Oui</button> <button>Non</button>
</div>
<iframe src="http://www.axa.com/fr/presse/faq/">
<p>Your browser does not support iframes.</p>
</iframe>
<style type="text/css">
