<img id="fixe-image" src="/assets/robot_big_sit.png" />
<div id="wallpaper">
  <div class="content clr">
    <div id="documentation">
      <h1>Documentation sur l'utilisation de Wall-A</h1>
      <br /><br />
      <h2>1- Comment faire un lorem ipsum qui lorem du ipsum</h2>
      <ul>
        <li>Premier point du lorem ta soeur</li>
        <li>Deuxième point du lorem ta soeur</li>
        <li>Troisième point point du lorem ta soeur</li>
      </ul>
    </div>
  </div>
</div>