# Add application configuration variables here, as shown below.
#
# PUSHER_APP_ID: "2954"
# PUSHER_KEY: 7381a978f7dd7f9a1117
# PUSHER_SECRET: abdc3b896a0ffb85d373
# STRIPE_API_KEY: EdAvEPVEC3LuaTg5Q3z6WbDVqZlcBQ8Z
# STRIPE_PUBLIC_KEY: pk_BRgD57O8fHja9HxduJUszhef6jCyS

# Account : DevWalla:qweasd
development:
  TWITTER_API_KEY:       "maAn0CbKvHsBxoV7EiJfA"
  TWITTER_API_SECRET:    "0Y2dTh4KevQ6oVp4mzeXb8Lh0u31eJWTH2dsEPjKo"
  TWITTER_ACCESS_TOKEN:  "2309105688-cIdSMDGFds7DziTjFmEFLrLtWyK2s22F8S918bX"
  TWITTER_ACCESS_SECRET: "nid6MB63F0nFh484eoYzAA3my38ePzk1dBzu3SPAqWGj6"
  SF_CONSUMER_KEY:       "3MVG99qusVZJwhslz5oY5FkZCA5PLMzsqAXTiLpc46m7uoyYzdXj364AGa4ksBRvtSsQk2Hl1hq4seTQ3oBit"
  SF_CONSUMER_SECRET:    "6599935863771986084"
  WALLA_URL:             "http://localhost:3000"
