<div id="login-page" style="background-color: #2a94d6; width: 100%; height: 100%;">

  <div style="background-color: #fff; width: 500px; height: 300px; position: absolute; 
              border-radius: 7px; top: 20%; left: 30%; text-align: center;">
    <img style="width: 300px; height: 200px; margin: auto;" src="<%= image_path('salesforce.png') %>" >
    <span><%= render "devise/shared/links" %></span>
  </div>

</div>