<div id="wallpaper">
  <div class="content clr">
    <div class="home_block">
      <div id="present">
        <h1>Wall-A</h1>
        <h2>Le bot AXA qui résoud vos problèmes</h2>
        <h3>Venez me poser une question sur mon<br />compte Twitter: <a href="#" target="_blank">@WallaBox-dev</a></h3>
        <h3>Vous pouvez aussi consulter notre <%= link_to "documentation sur l'utilisation du bot", documentation_path, style: "text-decoration: underline;" %></h3>
      </div>
      <div id="logo"></div>
      <div style="clear: both;"></div>
    </div>
  </div>
</div>