/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@font-face{font-family:"gothambold";src:url("/assets/fonts/Gotham-Bold.ttf");}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body
{
    font-size:14px;
    font-family:gothambold;
}


iframe {
    width: 100%;
    height: 100%;
    padding: 0em;
    margin: 0em;
    border: 0em;
}

#header {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 29%;
    width: 550px;
    padding: 40px 20px;
    font-family: gothambold,arial,verdana,sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 140%;
    color: #333;
    background: rgb(203, 203, 203);
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

#header a       { color: rgb(75, 75, 75);  text-decoration: none; }
#header a:hover { text-decoration: underline; }

#header input[type="submit"], button {
    border: none;
    text-transform: uppercase;
    background-color: #dedede;
    color: #000;
    cursor: pointer;
}

#header input[type="submit"]:hover, button:hover {
    background-color: #fff;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    font-weight: bold;
}

#sidr ul li span { cursor: pointer; }

#loader { position: absolute; z-index: 1000000; background-color: rgba(0, 0, 0, 0.8); width: 100%; height: 100%; top: 0; left: 0; }
#loader #img-loader {
  position: absolute; z-index: 10000000;
  top: 40%; left: 45%;
  background-image: url('/assets/loading.gif');
  background-size : cover;
  background-position: center;
  width: 100px; height: 100px;  
}














